<html>
<head>
	<title>Creditos</title>
</head>
<body>
	<label>Autor: <%= author %></label>
	<img src="https://pbs.twimg.com/profile_images/378800000451012500/4628fbb9dc70514d389ed9491243866f_400x400.png">
</body>
</html>