<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= text1 %></h1>
    <p><%= text2 %></p>
    <p><a href="/quizes/question">Comience a jugar</a></p>
  </body>
</html>
