<html>
<head>
	<meta charset="utf-8">
	<title>Quiz</title>
	<link rel="stylesheet" type="text/css" href="/stylesheet/styles.css">
</head>
<body>
	<label>La respuesta es: <%= answer %></label>
</body>
</html>